.login-form {
    height: fit-content !important;
    width: 500px;
    margin: 0rem auto;
    padding: 1rem;
    text-align: center;
    border: 1px solid salmon;
    border-radius: 1rem;
    box-sizing: border-box;
}

fieldset {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.form-title {
    font-size: 55px;
    margin: 0;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    text-align: left;
    margin-left: 5%;
    font-size: 18px;
}

.form-group input {
    width: 415px;
    height: 55px;
    border-radius: 5px;
    font-size: 25px;
}

.register-btn {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 25px;
}

.create-account {
    color: #FF9900;
    text-decoration: none;
}